@use './partials/variables' as *;

@import '/node_modules/bootstrap/scss/bootstrap.scss';

@import '@fontsource/bebas-neue';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
  }